<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Vue.js</title>
</head>
<body>
  <div id="app">
    <p>
      {{message}}
    </p>
    <p v-if="toggle">
      <a v-bind:href="url">Vue.js</a>
    </p>
    <ul>
      <li v-for="language in languages">{{language}}</li>
    </ul>
    <button v-on:click="clickHandler">Click</button>
    <p>
      <input type="text" v-model="message">
    </p>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script language="javascript" type="text/javascript">
    Vue.component('hello-component', {
      template: '<p>Hello</p>'
    })
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello World',
        url: 'https://jp.vuejs.org/',
        toggle: true,
        languages: [
          'Javascript',
          'Ruby',
          'Python'
        ]
      },
      methods: {
        clickHandler: function() {
          this.message = 'Clicked!'
        } 
      }
    })
  </script>
</body>
</html>